@font-face {
    font-family: 'Shrikhand-Regular';
    src: url('Shrikhand/Shrikhand-Regular.ttf');
  }

@font-face {
  font-family: 'Roboto-Regular';
  src: url('Roboto/Roboto-Regular.ttf');
}

@font-face {
  font-family: 'Roboto-light';
  src: url('Roboto/Roboto-Light.ttf');
}

@font-face {
  font-family: 'Roboto-Bold';
  src: url('Roboto/Roboto-Bold.ttf');
}

.loading-screen {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.25);
  animation: disappear 3s;
  animation-fill-mode: forwards;
}
.loading-screen .spinner {
  margin: auto;
  margin-top: 150px;
  width: 70px;
  height: 70px;
  background-color: transparent;
  animation: spin 2s linear infinite;
  border-radius: 100vw;
  border: 10px solid #99E2D0;
  border-bottom: none;
  border-left: none;
}

@keyframes spin {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes disappear {
  0% {
    opacity: 1;
  }
  99% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    display: none;
  }
}

header {
 display: flex;
 justify-content: center;
}
 
.ohmyfood-header {
  font-family: Shrikhand-regular;
  font-size: 250%;
  width: 230px;
  margin-top: 20px;
  margin-bottom: 5px;
}

.location {
  background-color: #e7e7e7;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;;
  border-top: 1px solid lightgrey;
  box-shadow: inset 0px 5px 5px -5px gray;
}

.location-pin {
  width: 18px;
  margin-right: 15px;
}

.location-text {
  font-family: Roboto-regular;
  font-size: 120%;
  margin: 0px;
  margin-right: 30px;
}

.ohmyfood-landing {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f5f5f5;
}

.landing-heading {
  font-family: Roboto-Bold;
  font-size: 180%;
}

.landing-text {
  font-family: roboto-light;
  font-size: 130%;
  color: gray;
  text-align: center;
  width: 400px;
  margin: 0px;
}

.landing-button {
  font-family: Roboto-Regular;
  font-size: 130%;
  color: white;
  background-image: linear-gradient(#FF79DA, #9356DC);
  box-shadow: 0px 5px 10px 0px lightgray;
  padding: 20px;
  padding-left: 30px;
  padding-right: 30px;
  border-radius: 50px;
  margin: 40px;
  margin-bottom: 70px;
  text-decoration: none;
}

.landing-button:active {
  text-decoration: none;
}

.landing-button:visited {
  text-decoration: none;
}

.landing-button:hover {
  box-shadow: 0px 5px 10px 0px gray;
}

.how-it-works {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 50px;
  margin-top: 10px;
}

.how-it-works-heading {
  font-family: roboto-bold;
  font-size: 180%;
  margin-left: 20px;
  margin-bottom: 10px;
  margin-top: 40px;
}

.how-it-works-text {
  font-family: roboto-bold;
  font-size: 120%;
  margin: 30px;
  margin-right: 0px;
  margin-left: 0px;
}

.steps {
  display: flex;
  align-items: center;
  background-color: #f5f5f5;
  border-radius: 20px;
  box-shadow: 0px 5px 10px 0px lightgrey;
  gap: 15px;
  margin: 20px;
}

.icon {
  width: 25px;
  height: 22px;
  padding-left: 30px;
}

.page-content {
  background-color: #f5f5f5;
  padding-bottom: 80px;
}

#restaurant {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  margin-left: auto;
  margin-right: auto;
}

.restaurant-heading {
  font-family: roboto-bold;
  font-size: 180%;
  padding-top: 30px;
  padding-bottom: 30px;
  margin: 0px;
  margin-left: 20px;
  width: fit-content;
}

.restaurant-text-flex {
  display: flex;
  justify-content: space-between;
}

.heart-container {
  position: relative;
  width: 35px;
  top: 20px;
  right: 20px;
}

.heart-line {
  position: absolute;
  z-index: 2;
}

.heart-solid {
  position: absolute;
  left: 3px;
  top: 3px;
  opacity: 0;
  width: 83%;
  transition-property: opacity;
  transition-duration: 1s;
}

.heart-container:hover .heart-solid {
  opacity: 1;
}

.restaurant-text {
  font-family: roboto-bold;
  font-size: 130%;
  margin: 0px;
  padding-left: 15px;
  padding-top: 15px;
  padding-bottom: 5px;
}

.restaurant-subtext {
  font-family: roboto-light;
  font-size: 130%;
  margin: 0px;
  padding-left: 15px;
  padding-bottom: 15px;
}

.restaurant-article {
  margin-left: 20px;
  background-color: white;
  border-radius: 20px;
  width: 370px;
  box-shadow: 0px 0px 15px 1px lightgray;
  text-decoration: none;
  color: black;
  margin: 0px;
}

.restaurant-article:active {
  text-decoration: none;
}

.restaurant-article:visited {
  text-decoration: none;
  color: black;
}

.restaurant-article:hover {
  box-shadow: 0px 5px 10px 0px gray;
}

.hp-images {
  width: 370px;
  height: 200px;
  border-radius: 20px 20px 0px 0px;
  object-fit: cover;
}

footer {
  background-color: #383838;
  padding-bottom: 30px;
}

.footer-header {
  font-family: Shrikhand-regular;
  font-size: 120%;
  color: white;
  margin: 0px;
  padding: 20px;
}

.footer-subtext {
  font-family: roboto-regular;
  font-size: 120%;
  color: white;
  margin: 8px;
  margin-left: 10px;
}

.footer-subtext2 {
  font-family: roboto-regular;
  font-size: 120%;
  color: white;
  margin: 8px;
  margin-left: 20px;
}

.footer-text {
  display: flex;
  align-items: center;
}

.footer-icon {
  width: 18px;
  height: 18px;
  padding-left: 20px;
}

@media screen and (min-width: 435px) {
  .restaurant-heading {
  margin: 0 auto;
  }

  .how-it-works-heading {
    margin: 0 auto;
    padding-top: 50px;
    padding-bottom: 20px;
  }
}

@media screen and (min-width: 600px) {
  .ohmyfood-header {
    font-size: 350%;
    width: fit-content;
  }

  .restaurant-heading {
  margin: 0 auto;
  }

  .how-it-works {
    width: 600px;
    margin: 0 auto;
    padding-bottom: 50px;
  }
}

